- function menuClass(title) { return page.title === title ? "active" : "inactive"; }

doctype html
html(lang="fi")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/style.css")
    link(href="http://fonts.googleapis.com/css?family=Abel|Karla" rel="stylesheet" type="text/css")
    link(href="/favicon.ico" rel="shortcut icon" type="image/x-icon")
    title= locals.title
  body
    #fb-root
    script(type="text/javascript").
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, "script", "facebook-jssdk"));
    header
      img.decor(src="fdl-small.png")
      a(href="/")
        img#logo(src="eraleijonat-logo.png" alt="Helsingin Erä-Leijonien logo")
      h1= locals.title
      p#alt= locals.slogan
    nav
      ul
        li(class=menuClass("index"))
          a(href="index.html") Etusivu
        li(class=menuClass("intro"))
          a(href="mita_partio_on.html") Partio?
        li(class=menuClass("troop"))
          a(href="lippukunta.html") Lippukunta
        li(class=menuClass("join"))
          a(href="jaseneksi.html") Jäsenhakemus
        li(class=menuClass("contact"))
          a(href="yhteystiedot.html") Yhteystiedot
    section#header
      img(src="header.jpg")
    article(id=page.title)
      != page.html
      - if (page.title === "join")
        include joinform
    footer
      #left
        .fb-like(data-href="https://www.facebook.com/pages/Helsingin-Er&#xe4;-Leijonat/156367904420545" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="false")
      .decor 
        img#wosmwagggs(src="wosmwagggs100.png" alt="Partiolaisten maailmanjärjestöt WOSM ja WAGGGS")
    
    // Keep Heroku emailer awake by sending ping on all page loads.
    script(type="text/javascript").
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "http://eraleijonat-emailer.herokuapp.com/ping", true);
      xhr.setRequestHeader("Content-type", "application/json; charset=utf-8");
      xhr.send();
