- function menuClass(title) { return page.title === title ? "active" : "inactive"; }

// Sivujen lähdekoodi on osoitteessa https://github.com/eraleijonat/eraleijonat.github.io

doctype html
html(lang="fi")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/style.css")
    link(href="http://fonts.googleapis.com/css?family=Abel|Karla" rel="stylesheet" type="text/css")
    link(href="/favicon.ico" rel="shortcut icon" type="image/x-icon")
    title= locals.title
  body
    #fb-root
    script(type="text/javascript").
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, "script", "facebook-jssdk"));
    header
      h1
        //- img#logo(src="/logo/hel-logo.svg" alt="Helsingin Erä-Leijonien logo")
        =locals.title
      span#alt= locals.slogan
    nav
      ul
        li(class=menuClass("index"))
          a(href="index.html") Etusivu
        li(class=menuClass("intro"))
          a(href="mita_partio_on.html") Partio?
        li(class=menuClass("troop"))
          a(href="lippukunta.html") Lippukunta
        li(class=menuClass("join"))
          a(href="jaseneksi.html") Jäsenhakemus
        li(class=menuClass("contact"))
          a(href="yhteystiedot.html") Yhteystiedot
        li(class=menuClass("ops"))
          a(href="johtajille.html") Johtajille
    article(id=page.title)
      != page.html
      - if (page.title === "join")
        include joinform
    footer
      .left
        .fb-like(data-href="https://www.facebook.com/pages/Helsingin-Er&#xe4;-Leijonat/156367904420545" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="false")
      .right.decor
        a(href="https://www.scout.org/")
          img(src="/wosm.png" width="40" height="40" alt="World Organization of the Scout Movement")
        a(href="https://www.wagggs.org/" alt="World Organization of Girl Guides and Girl Scouts")
          img(src="/wagggs.png" width="40" height="40")
    //- Keep Heroku emailer awake by sending ping on all page loads.
    script(type="text/javascript").
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "https://eraleijonat-emailer.herokuapp.com/ping", true);
      xhr.setRequestHeader("Content-type", "application/json; charset=utf-8");
      xhr.send();

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58836451-1', 'auto');
      ga('send', 'pageview');
